.purpleSpecialText {
    color: #8625E726;
    -webkit-text-stroke: #8625E7 1px;
}

.gradientH {
    background: radial-gradient(51.47% 50.12% at 50% 50%, #543473 0%, rgba(25, 25, 25, 0.00) 100%);
}

.imgObjectH {
height: auto;  
}