.specialWhiteS {
    -webkit-text-stroke: 0.5px #A9A9A9;
    color: transparent;
}

.animTextPurple {
    -webkit-text-stroke-color: blueviolet;
}

@keyframes upDown {
    0%   { transform: skew(0deg) }
    25%  { transform: skew(5deg)  }
    50% { transform: skew(-5deg)  }
    100% { transform: skew(0deg)  }
}
.movingBlocksAnim {
    transform: skew(10deg);
    animation: upDown 1s ease infinite;
}